@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
  --primary-dark: #0369a1;
  --primary-light: #7dd3fc;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

#root {
  @apply min-h-screen;
}